<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Edit Profile</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-profile.css}">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BarkPark</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:8080/home">Home</a></li>
                <li class="active"><a>My Profile</a></li>
                <li><a id="friend-request-link">Friend Requests</a></li>
                <li><a id="friends-link">Friends</a></li>
                <li><a href="http://localhost:8080/">Logout</a></li>
                <script>
                    let username = sessionStorage.getItem('username');
                    document.getElementById('friend-request-link').setAttribute("href", "http://localhost:8080/friendRequests?username=" + username);
                </script>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="main-div">
        <h1>My Profile</h1>
        <p class="lead" th:text="'Name: ' + ${user.name}"></p>
        <p class="lead" th:text="'Email: ' + ${user.email}"></p>
        <h4 id="dog-list-header" class="lead"></h4>

        <ul id="dog-list" class="list-group"></ul>

        <!-- Add Dog button to trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-dog-modal">
            Add Dog
        </button>

        <!--Add Dog Modal -->
        <div class="modal fade" id="add-dog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-dog-modal-title">Add a Dog</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-dog-form">
                            <div class="form-group">
                                <h4>Name</h4>
                                <input id="new-dog-name" class="form-control" placeholder="Name" required autofocus>
                            </div>

                            <div class="form-group">
                                <h4>Breed</h4>
                                <input id="new-dog-breed" class="form-control" placeholder="Breed" required autofocus>
                            </div>

                            <div class="form-group">
                                <h4>Age</h4>
                                <input id="new-dog-age" class="form-control" placeholder="Age" required autofocus>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="add-dog-button" type="button" class="btn btn-primary" data-dismiss="modal">Add Dog</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container"></div>

</div><!-- /.container -->


<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script type="text/javascript" th:src="@{/js/edit-profile.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let userDogs = [[${user.dogs}]];
    setUserDogs(userDogs);
    populateDogList(userDogs);
</script>
</body>
</html>